<!-- 14
  
_id
64471e6538cfe12d3c53b2ab
gameName
"addedGame"
Description
"xxxxxxxxxxxxxxxxx"
platForm
"windows"
Developer
"xxx"
mostPopular
false
topSeller
false
mostPlayed
false
publisherName
"xxx"

Photos
"https://img.freepik.com/free-vector/joystick-game-sport-technology_138…"
VideoURL
"https://img.freepik.com/free-vector/joystick-game-sport-technology_138…"
Rating
2.2
Price
"free"

Genres 
Array
createdAt
2023-04-25T00:27:18.062+00:00
updatedAt
2023-04-25T00:27:18.062+00:00
__v
0
  ///////////////////////////
  id : number,
    gameName : string,
    Description : string,
    // Price : number,
    // Img ?: string,   // (?) : not required 
    // CategoryID : number,
    // IsPurshased: boolean,
    Count ?: number,
    IsDeleted ?: boolean
    
    Developer: string,
    mostPopular: false,
    topSeller: true,
    mostPlayed: false,
    Photos: [],
    VideoURL: string,
    Rating: number,
    Price: number,
    Genres: [],                 //////////////////////
    createdAt: string,
    updatedAt: string,
    platForm: string,
    publisherName: string,
    Discription_ar: string                  //////////////////////
 -->

<!-- Add Product -->
<section class="center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-md-8 ml-auto">
        <div class="row align-items-center pt-md-5 mt-md-5 mb-5">
          <div class="col-12">
            <div class="card">
              <div class="card-title text-center mt-3">
                <h3>Add Product</h3>
              </div>
              <div class="card-body">
                <form #produtForm="ngForm" (ngSubmit)="AddProduct()">
                  <!-- Name -->
                  <div class="mb-3">
                    <label for="productname" class="form-label"
                      ><h4>Product Name:</h4></label
                    >
                    <input
                      type="text"
                      #prdNameInput="ngModel"
                      class="form-control"
                      id="productname"
                      name="productname"
                      placeholder="Enter Product Name"
                      #name
                      [(ngModel)]="product.name"
                      required
                      pattern="[A-Za-z]{3,}"
                      [class.is-valid]="prdNameInput.valid"
                      [class.is-invalid]="prdNameInput.invalid"
                    />
                    <div
                      class="alert alert-danger"
                      [hidden]="prdNameInput.valid || prdNameInput.untouched"
                    >
                      <small *ngIf="prdNameInput.errors?.['required']"
                        >Product Name Can't Be Empty</small
                      >
                      <small *ngIf="prdNameInput.errors?.['pattern']"
                        >Product name Can't Be less than 3 letters.</small
                      >
                      <!-- Product Name Can't Be Empty or less than 3 letters -->
                    </div>
                  </div>

                  <!-- Description -->
                  <div class="mb-3">
                    <label for="productDescription" class="form-label"
                      ><h4>Description:</h4></label
                    >
                    <input
                      type="text"
                      #prdDescriptionInput="ngModel"
                      class="form-control"
                      id="productDescription"
                      name="productDescription"
                      placeholder="Enter Product Description"
                      #Description
                      [(ngModel)]="product.description"
                      required
                      [class.is-valid]="prdDescriptionInput.valid"
                      [class.is-invalid]="prdDescriptionInput.invalid"
                    />
                    <div
                      class="alert alert-danger"
                      [hidden]="
                        prdDescriptionInput.valid ||
                        prdDescriptionInput.untouched
                      "
                    >
                      <small *ngIf="prdDescriptionInput.errors?.['required']"
                        >Product Description Can't Be Empty</small
                      >
                    </div>
                  </div>

                  <!-- Description_ar -->
                  <div class="mb-3">
                    <label for="productDiscription_ar" class="form-label"
                      ><h4>Arabic Description:</h4></label
                    >
                    <input
                      type="text"
                      #prdDiscription_arInput="ngModel"
                      class="form-control"
                      id="productDiscription_ar"
                      name="productDiscription_ar"
                      placeholder="Enter Product Arabic Description"
                      #Discription_ar
                      [(ngModel)]="product.description_ar"
                      required
                      pattern="^[\u0621-\u064A0-9 ]+$"
                      [class.is-valid]="prdDiscription_arInput.valid"
                      [class.is-invalid]="prdDiscription_arInput.invalid"
                    />
                    <div
                      class="alert alert-danger"
                      [hidden]="
                        prdDiscription_arInput.valid ||
                        prdDiscription_arInput.untouched
                      "
                    >
                      <small *ngIf="prdDiscription_arInput.errors?.['required']"
                        >Product Arabic Discription Can't Be Empty</small
                      >
                      <small *ngIf="prdDiscription_arInput.errors?.['pattern']"
                        >Product Arabic Discription Can't Contain English
                        letters.</small
                      >
                    </div>
                  </div>

                  <!-- Price -->
                  <div class="mb-3">
                    <label for="productPrice" class="form-label"
                      ><h4>Price:</h4></label
                    >
                    <input
                      type="text"
                      #prdPriceInput="ngModel"
                      class="form-control"
                      id="productPrice"
                      name="productPrice"
                      placeholder="Enter Product Price"
                      #Price
                      [(ngModel)]="product.price"
                      required
                      pattern="([+-]?([0-9]*[.])?[0-9]+|free)"
                      [class.is-valid]="prdPriceInput.valid"
                      [class.is-invalid]="prdPriceInput.invalid"
                    />
                    <div
                      class="alert alert-danger"
                      [hidden]="prdPriceInput.valid || prdPriceInput.untouched"
                    >
                      <small *ngIf="prdPriceInput.errors?.['required']"
                        >Product Price Can't Be Empty</small
                      >
                      <small *ngIf="prdPriceInput.errors?.['pattern']"
                        >Product Price is Number or 'free' Only</small
                      >
                    </div>
                  </div>

                  <!-- Select Category: category -->
                  <div class="mb-3">
                    <label for="prdcategory"><h4>Select Category</h4></label>
                    <select
                      class="form-control"
                      name="prdcategory"
                      id="prdcategory"
                      [(ngModel)]="product.category"
                      required
                    >
                      <!-- [(ngModel)]="product.category" (change)="selectcategory(category)" -->
                      <option
                        *ngFor="let cat of categoryList"
                        [value]="cat"
                        #category
                      >
                        {{ cat }}
                      </option>
                    </select>
                  </div>

                  <!-- Select Brand: brand -->
                  <div class="mb-3">
                    <label for="prdbrand"><h4>Select Brand</h4></label>
                    <select
                      class="form-control"
                      name="prdbrand"
                      id="prdbrand"
                      [(ngModel)]="product.brand"
                      required
                    >
                      <!-- [(ngModel)]="product.brand" (change)="selectbrand(brand)" -->
                      <option
                        *ngFor="let cat of brandList"
                        [value]="cat"
                        #brand
                      >
                        {{ cat }}
                      </option>
                    </select>
                  </div>

                  <!-- Image -->
                  <div class="mb-3">
                    <label for="prdImage"><h4>Image URL:</h4></label>
                    <input
                      type="text"
                      #prdPhotosInput="ngModel"
                      class="form-control"
                      id="prdImage"
                      name="prdImage"
                      placeholder="Enter Product Image"
                      #img
                      [(ngModel)]="product.img"
                    />
                  </div>

                  <div class="d-flex">
                    <button
                      class="btn btn-success mt-5 mx-auto d-block"
                      type="submit"
                      style="margin-bottom: 2%"
                      [disabled]="produtForm.invalid"
                    >
                      Add Product
                    </button>

                    <button
                      class="btn btn-danger mt-5 mx-auto"
                      type="button"
                      style="margin-bottom: 2%"
                      (click)="cancelBtn()"
                    >
                      Back
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
