<div class="card" style="width: 25rem; height: 16rem">
  <!-- <img [src]="user?.firstName" class="card-img-top" alt="..." /> -->
  <div class="card-body">
    <h5 class="card-title">
      Name:
      <span class="text-muted">{{ user.name }}</span>
    </h5>
    <div>
      <h6 class="card-subtitle mb-2">
        Email: <span class="text-muted">{{ user.email }}</span>
      </h6>

      <h6 class="card-text">
        Purchase Quantity:
        <span class="text-muted">{{ user.purchaseHistory.length }}</span>
      </h6>
      <h6 class="card-text">
        Total User Transactions:
        <span class="text-muted">{{ userTransactions | ceil }}$</span>
      </h6>
    </div>
  </div>
  <!-- <button type="button" class="btn btn-secondary" (click)="back()">
    Go Back
  </button> -->

  <div style="display: flex" class="w-100">
    <button
      type="button"
      class="btn btn-primary text-white w-50"
      (click)="Previous()"
      [disabled]="currentUserID == userIDList[0]"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg> 
    </button>
    <button
      type="button"
      class="btn btn-primary w-50"
      (click)="Next()"
      [disabled]="currentUserID == userIDList[userIDList.length - 1]"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
    </svg>
    </button>
  </div>
</div>
